.blockin-global {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: content-box;
    word-wrap: break-word;
}


.blockin-button {
  background: linear-gradient(#98d1fc, #1c8fe7);
  opacity: 0.85;
  color: black;
  padding: 12px 15px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  // border: 1px solid black;
}

.blockin-button:hover {
    opacity: 1;
}

.blockin-button:disabled {
    cursor:not-allowed;
}


.blockin-button {
  width: 135px;
  height: 50px;
  padding: 4px 8px;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  gap: 8px;
  border-radius: 39px;
  background: #1890ff;
  cursor: pointer;
  color: white;
  font-weight: bold;
  opacity: 1;
}

.blockin-button:disabled {
  background-color: lightgray;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}

.blockin-button:hover {
  border: 1px solid black;
  opacity: 1;
  background: inherit;
  border: 1px solid #1890ff;
  color: #1890ff;
}

.blockin-button-secondary {
  background: inherit;
  color: inherit;
  opacity: 1;
  padding: 5px 8px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid gray;
}

.blockin-button-secondary:hover {
    opacity: 1;
    border: 2px solid black;
}

.blockin-button-secondary:disabled {
    cursor:not-allowed;
}

.blockin-input {
  display: block;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px auto;
  text-align: center;
}


.blockin-closebutton {
    background: none;
    fill: black;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
    border: none;
    float: right;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
}

.blockin-root {
    padding: 100px 0px;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    transition: opacity 500ms;
    z-index: 50;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;

}



.blockin-popup-container {
    //media query

    word-wrap: break-word;
    background-color: #121212;
    opacity: 100%;
    max-width: 600px;
    display: flex;
    max-height: 600px;
    
    margin: 0px 10px 0px;
    padding: 30px;
    border-radius: 25px;
    justify-content: center;
    box-sizing: content-box;
    color:white;

    @media (max-width: 600px) {
      width: 90%;
      padding: 5px;
      margin: 20px;
  }
}

.blockin-popup {
    word-wrap: break-word;
    background-color: #121212;
    opacity: 100%;
    max-width: 600px;
    max-height: 600px;
    justify-content: center;
    overflow-y: auto;
    padding-right: 10px;
    box-sizing: content-box;

    @media (max-width: 600px) {
      width: 90%;
      padding: 5px;
      margin: 20px;
  }
}


/* width */
.blockin-popup::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.blockin-popup::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.blockin-popup::-webkit-scrollbar-thumb {
    background: #888;
    background-clip: padding-box;
}

/* Handle on hover */
.blockin-popup::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.blockin-addcustom {
    // display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.blockin-listitem {
    max-width: 100%;
}

.blockin-listitem-metadata {
    text-align: left;
    height: 100%;
    max-width: 100%;
}

.blockin-listitem-button {
    display: flex;
    text-align: right;
    align-items: center;
    height: 100%;
    min-width: 80px;
    margin-top: 16px;
}

.blockin-listitem-button button {
    width: 100%;
    align-items: center;
    text-align: center;
    vertical-align:middle;
}

.blockin-listitem-logo {
    margin-right: 10px;
}

.blockin-header {
    display: flex;
    width: 100%;
}

.blockin-header-chain-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blockin-header .header-end {
    width: 10%
}

.blockin-header .header-middle {
    width: 80%;
    text-align: center;
}

.blockin-header h1 {
    margin-top: 0;
    font-size: larger;
    font-size: 24px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.blockin-challenge {
   
}

.blockin-copy-address {
    height: 25px;
    width: 25px;
    vertical-align: text-bottom;
    cursor: pointer;
}

.blockin-challenge-details {
}

.blockin-challenge-item {
    
}

.blockin-preset-resources {
    
}

.blockin-custom-add-resources {

}

.blockin-sign-challenge-button {

}

.blockin-selected-resources-summary {
    
}

.blockin-chain-select button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockin-chain-select .blockin-popup button {
    width: 100%;
    margin: 5px;
}

.blockin-chain-select-logo-left {
    margin-left: 5px;
}

.blockin-chain-select-logo-right {
    margin-right: 5px;
}

.blockin-global .main-button {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockin-global .main-display {
    margin: 3px;
}

.blockin-link {
    color: #1890ff;
    text-decoration: none;
}

.blockin-link:hover {
    color: #40a9ff;
    text-decoration: underline;
}